/* =========================================================
   CASUALCODDAD — DS4/PS5 GamepadViewer Skin (SIMPLE + WORKING)
   Goal: change ONLY the controller body texture
   Keep: buttons, sticks, dpad, triggers perfectly aligned
   Texture: https://i.imgur.com/UjXhh6B.jpeg
   ========================================================= */

/* ---- DS4 BASE (this is what your current file is built on) ---- */
.controller.ds4{
  background: url("https://i.imgur.com/UjXhh6B.jpeg") center/cover no-repeat !important;
  height: 700px !important;
  width: 1200px !important;
  position: relative !important;
}

/* Hide everything if disconnected */
.ds4.disconnected div { display:none; }

/* ---- TRIGGERS ---- */
.ds4 .triggers{
  width:598px; height:90px;
  position:absolute; left:299px; top:38px;
}
.ds4 .trigger{
  width:99px; height:100%;
  background:url(Trigger_Pressed.png);
  opacity:0;
}
.ds4 .trigger.left{ float:left; }
.ds4 .trigger.right{ float:right; background-position-x:99px; }

/* ---- BUMPERS ---- */
.ds4 .bumpers{
  position:absolute;
  width:672px; height:23px;
  left:263px; top:132px;
}
.ds4 .bumper{
  width:200px; height:45px;
  background:url(Bumper.png) no-repeat;
  opacity:0;
}
.ds4 .bumper.pressed{ opacity:.8; }
.ds4 .bumper.left{ float:left; }
.ds4 .bumper.right{ float:right; transform:rotateY(180deg); }

/* ---- TOUCHPAD ---- */
.ds4 .touchpad{
  width:350px; height:300px;
  position:absolute; left:422px; top:74px;
}
.ds4 .touchpad.pressed{ background:url(Touchpad.png) no-repeat center; }

/* ---- PS BUTTON (HOME) ---- */
.ds4 .meta{
  width:100px; height:100px;
  position:absolute; left:546px; bottom:264px;
}
.ds4 .meta.pressed{ background:url(Home.png) no-repeat center; }

/* ---- SHARE / OPTIONS ---- */
.ds4 .back, .ds4 .start{
  background:url(Select.png);
  width:26px; height:43px;
  opacity:0;
}
.ds4 .start{ position:absolute; left:546px; bottom:-30px; }
.ds4 .back{ position:absolute; left:170px; bottom:-30px; }
.ds4 .back.pressed, .ds4 .start.pressed{ opacity:1; }

/* ---- FACE BUTTONS ---- */
.ds4 .abxy{
  position:absolute;
  width:170px; height:171px;
  top:200px; left:762px;
}
.ds4 .button{
  position:absolute;
  width:55px; height:55px;
  background:url(FaceButtons.png);
}
.ds4 .button.pressed{ background-position-y:55px; }
.ds4 .a{ background-position:0 0; bottom:0; left:58px; }
.ds4 .b{ background-position:-57px 0; top:57px; right:-3px; }
.ds4 .x{ background-position:-113px 0; top:57px; }
.ds4 .y{ background-position:55px 0; left:58px; bottom:119px; }

/* ---- STICKS ---- */
.ds4 .sticks{
  position:absolute;
  width:364px; height:105px;
  top:348px; left:422px;
}
.ds4 .stick{
  position:absolute;
  background:url(Sticks.png);
  height:94px; width:94px;
}
.ds4 .stick.pressed.left{ background-position-x:-96px; }
.ds4 .stick.pressed.right{ background-position-x:-192px; }
.ds4 .stick.left{ top:0; left:0; }
.ds4 .stick.right{ top:calc(100% - 105px); left:calc(100% - 105px); }

/* ---- DPAD ---- */
.ds4 .dpad{
  position:absolute;
  width:125px; height:126px;
  top:220px; left:286px;
}
.ds4 .face{
  background:url(Dpad.png);
  position:absolute;
}
.ds4 .face.up, .ds4 .face.down{ width:37px; height:52px; }
.ds4 .face.left, .ds4 .face.right{ width:52px; height:40px; }
.ds4 .face.up{ left:44px; top:0; background-position:-37px 0; }
.ds4 .face.down{ left:44px; bottom:0; background-position:0 0; }
.ds4 .face.left{ top:45px; left:0; background-position:104px 0; }
.ds4 .face.right{ top:45px; right:0; background-position:52px 0; }
.ds4 .face.pressed{ background-position-y:52px; }

/* ---- Optional: make it a little more “tactical” without breaking anything ---- */
.controller.ds4{
  filter: contrast(1.10) saturate(1.05) brightness(0.95);
}
